@import "./reset.scss";

.iconfont { 
	width: 20px; 
	height: 20px; 
	// vertical-align: -0.15em; 
	fill: currentColor; 
	// overflow: hidden;
}

// 一行省略
.ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
  
// 两行省略
.ellipsis-two-line{
	display: -webkit-box;
	overflow : hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
  
.clr{
	clear: both;
}